/* Overall styling for the VBox */
.root {
    -fx-padding: 0; /* Add some padding around the edges */
    -fx-spacing: 20; /* Spacing between children */
    -fx-background-color: #f0f0f0; /* Light background color for contrast */
}

/* Button 1 styling */
.button {
    -fx-background-color: #018701; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 16px; /* Adjust font size */
    -fx-padding: 10 20; /* Padding around the button text */
    -fx-pref-width: 175;
    -fx-cursor: hand; /* Change cursor to hand on hover */
}

/* Welcome label styling */
#titleLabel {
    -fx-font-size: 36px; /* Increase font size for better visibility */
    -fx-text-fill: #333333; /* Dark text color */
    -fx-font-weight: bold; /* Make the label bold */
}

/* Add hover effects for buttons */
.button:hover {
    -fx-background-color: #006200; /* Darker green on hover */
}

#invalidText
{
    -fx-text-fill: #d32f2f; /* Bright red to indicate an error */
    -fx-font-weight: bold; /* Emphasize the message */
    -fx-font-size: 12pt; /* Adjust font size for better visibility */
    -fx-background-color: transparent; /* Keep the background transparent */
    -fx-padding: 5px; /* Add spacing around the text */
    -fx-background-radius: 3px;
}

